In [1]:
## Moloco SWE Q3 - Chirag Rao

In [16]:
# Importing required packages

import pandas as pd
from collections import defaultdict, Counter

In [17]:
dframe = pd.read_csv("SWE sample data - Q3 data.csv")
dframe[:10]

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G
5  2019-02-01 00:24:21  LC3E1D        HVQ   GVOFK
6  2019-02-01 00:25:29  LC3561        TL6   3POLC
7  2019-02-01 00:29:15  LC3A01        TL6   N0OTG
8  2019-02-01 00:32:43  LC36FC        TL6   N0OTG
9  2019-02-01 00:35:30  LC3D80        TL6   N0OTG

In [18]:
# Question 1

In [19]:
dframe_bdv = dframe.loc[dframe['country_id'] == "BDV"]
dframe_bdv.head()

                     ts user_id country_id site_id
13  2019-02-01 00:47:58  LC3C22        BDV   N0OTG
32  2019-02-01 02:46:15  LC375A        BDV   5NPAU
87  2019-02-01 06:44:42  LC392E        BDV   N0OTG
88  2019-02-01 07:36:56  LC3FAE        BDV   5NPAU
94  2019-02-01 08:58:35  LC3AFF        BDV   3POLC

In [20]:
temp_dict = defaultdict(set)
result = [[], -1]

for i in range(len(dframe_bdv)):
    site = dframe_bdv.iloc[i]["site_id"]
    user = dframe_bdv.iloc[i]["user_id"]
    temp_dict[site].add(user)
    if len(temp_dict[site]) > result[1]:
        result = [[site], len(temp_dict[site])]
    elif len(temp_dict[site]) == result[1]:
        result[0].append(site)

print("The site_id that has the largest number of unique users and the number is:", result)

The site_id that has the largest number of unique users and the number is: [['5NPAU'], 544]

In [21]:
## Question 2

In [22]:
dframe_bdv = dframe[(dframe['ts'] >= '2019-02-03 00:00:00') & (dframe['ts'] <= '2019-02-04 23:59:59')]
dframe_bdv.head()

                       ts user_id country_id site_id
1049  2019-02-03 00:02:31  LC3C7E        TL6   3POLC
1050  2019-02-03 00:03:09  LC3C7E        TL6   3POLC
1051  2019-02-03 00:03:46  LC3C7E        TL6   3POLC
1052  2019-02-03 00:04:12  LC3C7E        TL6   3POLC
1053  2019-02-03 00:04:25  LC3C7E        TL6   3POLC

In [23]:
temp_dict = defaultdict(lambda: Counter())
result = defaultdict(dict)

for i in range(len(dframe_bdv)):
    user = dframe_bdv.iloc[i]["user_id"]
    site = dframe_bdv.iloc[i]["site_id"]
    temp_dict[user][site] += 1 
    if temp_dict[user][site] > 10:
        result[user][site] = temp_dict[user][site]

In [24]:
print("The 4 users and the sites they (each)visited more than 10 times are:")
[[x,result[x]] for x in result]

The 4 users and the sites they (each)visited more than 10 times are:

[['LC3C7E', {'3POLC': 15}],
 ['LC3A59', {'N0OTG': 26}],
 ['LC06C3', {'N0OTG': 25}],
 ['LC3C9D', {'N0OTG': 17}]]

In [25]:
## Question 3

In [27]:
d = {}
for i in range(len(dframe)):
    user = dframe.iloc[i]['user_id']
    site = dframe.iloc[i]['site_id']
    ts = dframe.iloc[i]['ts']
    
    if user not in d:
        d[user] = [ts,site]
    if ts > d[user][0]:
        d[user] = [ts,site]

dd = defaultdict(int)
for user in d:
    site = d[user][1]
    dd[site] += 1
result = sorted([(res,dd[res]) for res in dd], key=lambda x:x[1], reverse=True)
print("The unique number of users whose last visit was to that site are:")
print(result[:3])

The unique number of users whose last visit was to that site are:
[('5NPAU', 992), ('N0OTG', 561), ('QGO3G', 289)]

In [28]:
## Question 4

In [29]:
dframe_bdv = pd.DataFrame(dframe, columns=['ts','user_id','site_id'])
#dframe_bdv.head()

In [31]:
temp_dict = {}

for i in range(len(dframe_bdv)): 
    user = dframe_bdv.iloc[i]['user_id']
    site = dframe_bdv.iloc[i]['site_id']
    ts = dframe_bdv.iloc[i]['ts']
    if user not in temp_dict:
        temp_dict[user] = [[ts,site], [ts,site]]
    if ts > temp_dict[user][1][0]:
        temp_dict[user][1] = [ts,site]
    elif ts < temp_dict[user][0][0]:
        temp_dict[user][0] = [ts,site]

result = 0 
for user in temp_dict:
    if temp_dict[user][0][1] == temp_dict[user][1][1]:
        result = result + 1

print("The number of users whose first/last visits are to the same website are: ")
print(result)

The number of users whose first/last visits are to the same website are:
1670